@use "~/styles/variables" as *;

.article {
    width: calc(100vw - 63rem);
    padding-bottom: 4rem;
    a {
        color: $color-accent-text;
    }

    @media (max-width: $breakpoint-mobile) {
        left: 0;
        width: stretch;
        margin-inline: 2rem;
        padding-bottom: 5rem;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        padding-bottom: 0.5rem;
    }

    img + em {
        display: block;
        text-align: center;
        padding-bottom: 1rem;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        box-sizing: border-box;
        margin: 1.5rem auto;
        width: 100%;

        th {
            background-color: $color-accent;
            color: black;
            font-weight: 600;
            padding: 0.75rem 1.25rem;
            text-align: left;
            border: 1px solid #444;
        }

        td {
            padding: 0.65rem 1.25rem;
            border: 1px solid #ddd;
        }

        tr:nth-child(even) td {
            background-color: #f9f9f9;
        }

        tr:hover td {
            background-color: #f1f5ff;
        }
    }
}

.title {
    font-size: xx-large;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    @media (max-width: $breakpoint-mobile) {
        margin-top: 1rem;
    }
}

.subtitle {
    color: black;
    font-size: large;
    margin-bottom: 2rem;
    margin-top: 0;
}
