@use "~/styles/variables" as *;

.footer {
    color: black;
    font-size: large;
    font-weight: normal;
    text-decoration: none;
    padding-inline: 1rem;
    align-self: center;
    justify-content: space-between;
    display: flex;
    div[id="copy-right"] {
        align-self: center;
        @media (max-width: $breakpoint-mobile) {
            font-size: medium;
        }
    }
    ul[id="social-media"] {
        display: flex;
        padding: 0;
        margin: 0;
    }
}

.item {
    padding: 0.25rem;
    list-style-type: none;
    margin-block: 0.5rem;
    a:focus-within {
        outline: none;
    }
}

.item:focus-within {
    outline: $color-accent auto 1px;
}
